<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <h2>Your cart:</h2><br>
    <ul>
        <%= cart.each do |product| %>
            <li><%= product %></li>
        <% end %>
    </ul>
    <div>
        <%= form_tag ({controller: 'products',
            action: 'add',
            method: 'post'}) do %>

        <input name=product>
        <input type=submit value='add to cart'>
        <% end %>
    </body>
</html>